{% extends "IndexPage/base.html"%}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}
<style>
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  .account-heading {
    font-size: 2.5rem;
  }
</style>
  <div class="container">
    <div class="media">
      <img class="rounded-circle account-img" src="{{user.profile.profile_Image.url}}">
      <div class="media-body">
        <h2 class="account-heading">{{user.username}}</h2>
        <p class="text-secondary">{{user.email}}</p>
        <p class="text-secondary">{{user.profile.get_identity}}</p>
        <a href="{% url 'Update_Profile'%}">Update My Profile</a>
      </div>
    </div>
  </div>
{% endblock content%}