{% extends "IndexPage/base.html"%}
{% load static %}
{% load crispy_forms_tags %}
<script>
    // Call hideShow when page is loaded
    django.jQuery(document).ready(function(){
        django.jQuery('#id_authentication_Token').hide();
    })
//     $(document).ready(function(){
//         $('#id_authentication_Token').hide();
//     })

//     // call hideShow when the user clicks on the component_type dropdownlist
//     $('#id_identity').click(function(){
//         hideShow()
//     });

// // The jquery function below hides/shows the k_v, DI and length fields depending on the selected component_type 
// function hideShow(){
//     if(document.getElementById('id_identity') == "LianXiSheng")
//     {
//         $('#id_authentication_Token').hide();
//     }else
//     {
//         $('#id_authentication_Token').show();
//     }
// }
</script>
{% block content%}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-infro" type="submit" style="background-color: rgb(96, 0, 134); color: antiquewhite;">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">Already has An Account? <a class="ml-2" style="color: rgb(17, 0, 255);" href="{% url 'Login' %}">Sign In</a></small>
        </div>

    </div>
{% endblock content%}